## **Question 3**                                                                                              [10 marks]

 Use dataset available on http://users.stat.ufl.edu/~winner/data/nfl2008_fga.csv

⦁	Use LDA to classify the dataset into few classes so that at least 90% of information of dataset is explained through new classification. (Hint: model the variable “qtr” to variables “togo”, “kicker”, and “ydline”). How many LDs do you choose? Explain the reason.                                                                       [5]                        
⦁	Apply PCA, and identify the important principle components involving at least 90% of dataset variation. Explain your decision strategy?  Plot principle components versus their variance.  [5]

In [ ]:
!wget http://users.stat.ufl.edu/~winner/data/nfl2008_fga.csv --no-check-certificate

--2022-12-22 21:16:18--  http://users.stat.ufl.edu/~winner/data/nfl2008_fga.csv
Resolving users.stat.ufl.edu (users.stat.ufl.edu)... 128.227.24.94
Connecting to users.stat.ufl.edu (users.stat.ufl.edu)|128.227.24.94|:80... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://users.stat.ufl.edu/~winner/data/nfl2008_fga.csv [following]
--2022-12-22 21:16:18--  https://users.stat.ufl.edu/~winner/data/nfl2008_fga.csv
Connecting to users.stat.ufl.edu (users.stat.ufl.edu)|128.227.24.94|:443... connected.
WARNING: cannot verify users.stat.ufl.edu's certificate, issued by ‘CN=InCommon RSA Server CA,OU=InCommon,O=Internet2,L=Ann Arbor,ST=MI,C=US’:
  Unable to locally verify the issuer's authority.
HTTP request sent, awaiting response... 200 OK
Length: 83329 (81K) [text/csv]
Saving to: ‘nfl2008_fga.csv.1’

nfl2008_fga.csv.1   100%[===================>]  81.38K  --.-KB/s    in 0.02s

2022-12-22 21:16:18 (3.72 MB/s) - ‘nfl2008_fga.csv.1’ saved [83329/83329]

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split

# create dataframe
df = pd.read_csv('nfl2008_fga.csv')
# check if any columns has null values
df.isnull().sum()

GameDate    0
AwayTeam    0
HomeTeam    0
qtr         0
min         0
sec         0
kickteam    0
def         0
down        2
togo        2
kicker      0
ydline      0
name        0
distance    0
homekick    0
kickdiff    0
timerem     0
offscore    0
defscore    0
season      0
GOOD        0
Missed      0
Blocked     0
dtype: int64

`togo` and `down` columns has some null values. we can check the datatype for those columns and decide on droping those rows or replacing with 0

In [ ]:
df.head(5)

,GameDate,AwayTeam,HomeTeam,qtr,min,sec,kickteam,def,down,togo,...,distance,homekick,kickdiff,timerem,offscore,defscore,season,GOOD,Missed,Blocked
0,20081130,IND,CLE,1,47,2,IND,CLE,4.0,11.0,...,30,0,-3,2822,0,3,2008,1,0,0
1,20081005,IND,HOU,1,54,47,IND,HOU,4.0,3.0,...,46,0,0,3287,0,0,2008,1,0,0
2,20081228,TEN,IND,1,45,20,IND,TEN,4.0,3.0,...,28,1,7,2720,7,0,2008,1,0,0
3,20081012,BAL,IND,1,45,42,IND,BAL,4.0,1.0,...,37,1,14,2742,14,0,2008,1,0,0
4,20080907,CHI,IND,1,50,56,IND,CHI,4.0,21.0,...,39,1,0,3056,0,0,2008,1,0,0

both `togo` and `down` columns are numerical. we can replace null values with 0

In [ ]:
df = df.fillna(0)
df.isnull().sum()

GameDate    0
AwayTeam    0
HomeTeam    0
qtr         0
min         0
sec         0
kickteam    0
def         0
down        0
togo        0
kicker      0
ydline      0
name        0
distance    0
homekick    0
kickdiff    0
timerem     0
offscore    0
defscore    0
season      0
GOOD        0
Missed      0
Blocked     0
dtype: int64

In [ ]:
# print(df.columns)

# get only numerical datatype columns
def get_numerical_cols(dataframe):
  numerical_cols=[]
  for i in dataframe.columns:
    if(dataframe[i].dtypes!='object'):
      numerical_cols.append(i)
  return numerical_cols

x = df[get_numerical_cols(df)].drop(['qtr','GameDate'],axis=1)
y = df['qtr']

In [ ]:
y.unique()

array([1, 2, 3, 4, 5])

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
import numpy as np

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

# standardize the values using standard scalar
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
#Applying Decision Tree on Original Dataset

acc = [] ### Blank vector
for i in range(1000):
  X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)# split dataset
  model_dt=DecisionTreeClassifier() # model
  dt = model_dt.fit(X_train,y_train) # fit the model
  YPred = dt.predict(X_test) # predict
  a = accuracy_score(y_test,YPred) # compute accuracy
  acc.append(a) # append accuracy
print("Accuracy using 1000 MC run:", np.mean(acc))  # average of accuracy to stablize the result

Accuracy using 1000 MC run: 1.0


LDA

* Creates linear combination of the original features
* Number of such transformations are 1 less than the number of classes (the classes are well seperated)
* Very similar to PCA, LDA is supervised

math

ld1 = 0.5*x1 + 0.2*x2 + 0.3*x3

In [ ]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
#Initializing LDA
lda_model = LinearDiscriminantAnalysis(n_components=1)
X_lda = lda_model.fit_transform(x, y)

#Checking Variance Ratio
lda_var_ratios = lda_model.explained_variance_ratio_
lda_var_ratios

array([0.99244456])

In [ ]:
def select_n_components(var_ratio, goal_var: float) -> int:
    # Set initial variance explained so far
    total_variance = 0.0
    
    # Set initial number of features
    n_components = 0
    
    # For the explained variance of each feature:
    for explained_variance in var_ratio:
        
        # Add the explained variance to the total
        total_variance += explained_variance
        
        # Add one to the number of components
        n_components += 1
        
        # If we reach our goal level of explained variance
        if total_variance >= goal_var:
            # End the loop
            break
            
    # Return the number of components
    return n_components

#Selecting n components with 95% explained variance
select_n_components(lda_var_ratios, 0.95)

1

In [ ]:
LDA=pd.DataFrame(X_lda)
LDA.columns=['lda1']

In [ ]:
#Training model after LDA

acc = [] ### Blank vector
for i in range(1000):
  X_train,X_test,y_train,y_test=train_test_split(X_lda,y,test_size=0.3,random_state=30)# split dataset
  model_dt=DecisionTreeClassifier() # model
  dt = model_dt.fit(X_train,y_train) # fit the model
  YPred = dt.predict(X_test) # predict
  a = accuracy_score(y_test,YPred) # compute accuracy
  acc.append(a) # append accuracy
print("Accuracy using 1000 MC run:", np.mean(acc))  # average of accuracy to stablize the result

Accuracy using 1000 MC run: 0.9775641025641023

In [ ]:
#PCA
from sklearn.decomposition import PCA

# create the PCA instance
pca = PCA(n_components=1)
X = pca.fit_transform(x)
# x.shape
# fit on data
# pca.fit(X)
# access values and vectors
PCAs=pca.components_
df=pd.DataFrame(PCAs)
df_pca=df.T  # transpose the dataframe 
df_pca.columns=['pca1']
df_pca.head()

       pca1
0 -0.016648
1 -0.000924
2 -0.000070
3  0.000101
4  0.000372

In [ ]:
#Variance explained by each component
print(pca.explained_variance_)
pca.n_components_

[1007908.25197757]

1

In [ ]:
ratio_var=pca.explained_variance_/sum(pca.explained_variance_)